{% extends 'base.html.twig' %}
{% block title %}Concept | {{ parent() }}{% endblock %}
{% block Titre %}Concept{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="mb-3 offset-1 col-10 offset-md-3 offset-lg-0 col-md-6 col-xl-4 col-lg-6 text-center mb-lg-0">
                <img class="mw-200 w-100" src="{{ asset('build/images/a_propos.jpeg') }}" alt="Salomé assise se tenant les mains">
            </div>
            <div class="col-xl-8 col-lg-6 text-justify">
                <p>Ancienne avocate, j'ai créé CHAMADE après un long processus de développement personnel mêlant thérapies conventionnelles et holistiques, qui m’ont menée à la rencontre de moi-même et à cheminer sur la voie de l’Éveil.</p>

                <p>Les domaines du développement personnel et de la spiritualité ont nourri mon âme et mon cœur. Tant et si bien que j'ai fait le choix d'un changement de vie total, au service de l’épanouissement personnel et du bien-être.</p>

                <p>J’ai suivi diverses formations afin d'approfondir mes connaissances et d'aiguiser mes approches.</p>

                <p>J'ai aussi eu à cœur de rencontrer les personnes qui m'avaient tant inspirées ces dernières années, en participant à leurs évènements, programmes et formations.</p>

                <p>Puis il est devenu évident pour moi que ces clés devaient être partagées et que ma vie y serait désormais dédiée.</p>

                <p>Depuis, j’accompagne les femmes en créant et en facilitant des évènements transformateurs (Cercles de femmes, Rituels et Retraites) ainsi que des accompagnements en ligne (Lectures de cartes du ciel et guidances).</p>

                <p>Partisane d’une spiritualité ouverte et accessible, j'ai aussi à cœur de partager mes approches via des Cours, Ateliers et Formations.</p>
            </div>
        </div>
    </div>
{% endblock %}