{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe | {{ parent() }}{% endblock %}

{% block Titre %}Changer mon mot de passe{% endblock %}

{% block content %}
    <div class="container py-5">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
