{% extends 'base.html.twig' %}

{% block title %}E-books | {{ parent() }}{% endblock %}
{% block metaDescription %}Chamade propose des E-books accessibles en ligne et destinés à vous accompagner dans votre développement personnel et spirituel.{% endblock %}
{% block ogImage %}{{ app.request.schemeAndHttpHost ~ asset('build/images/design_ebooks.jpeg') }}{% endblock %}

{% block Titre %}E-books{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <p>Je travaille fort sur de nouveaux projets qui seront d&eacute;voil&eacute;s sous peu&nbsp;!</p>
                <p>Pour &ecirc;tre inform&eacute;e en avant-premi&egrave;re, inscris-toi &agrave; ma newsletter et rejoins mon groupe priv&eacute; sur Facebook.</p>
            </div>
        </div>
    </div>
    {% include 'index/_social.html.twig' %}

{% endblock %}