{% extends 'base.html.twig' %}

{% block title %}Podcasts | {{ parent() }}{% endblock %}
{% block metaDescription %}Chamade propose des Podcasts accessibles en ligne et destinés à vous accompagner dans votre développement personnel et spirituel.{% endblock %}
{% block ogImage %}{{ app.request.schemeAndHttpHost ~ asset('build/images/design_podcasts.jpeg') }}{% endblock %}

{% block Titre %}Podcasts{% endblock %}
{% block content %}
    <div class="container">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/463384131&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

    </div>
    {% include 'online/_nav.html.twig' %}
{% endblock %}