{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Créer un nouvel auteur</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('authorsAdmin') }}">Auteurs</a></li>
        <li class="breadcrumb-item active">Créer un nouvel auteur</li>
    </ol>
    {% include 'admin/author/_form.html.twig' %}

{% endblock %}