{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Modifier un témoignage</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item active"><a href="{{ path('opinionsAdmin') }}">Témoignages</a></li>
        <li class="breadcrumb-item active">Modifier un témoignage</li>
    </ol>
    {% include 'admin/opinions/_form.html.twig' %}
{% endblock %}