{% extends 'base.html.twig' %}

{% block title %}Politique des cookies (UE) | {{ parent() }}{% endblock %}
{% block Titre %}Politique des cookies{% endblock %}

{% block content %}
    <div class="container text-justify py-5">
        <h1 class="text-center col-12 mb-3">Politique des cookies (UE)</h1>

        <h2 class="text-left">1. Introduction</h2>

        <p>Notre site web, https://cometes.co (ci-après : « le site web ») utilise des cookies et autres technologies liées (par simplification, toutes ces technologies sont désignées par le terme « cookies »). Des cookies sont également placés par des tiers que nous avons engagés. Dans le document ci-dessous, nous vous informons de l’utilisation des cookies sur notre site web.</p>

        <h3 class="text-left">2. Durée de conservation des cookies</h3>
        <p>Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</p>

        <h2 class="text-left">3. Qu’est-ce qu’un cookie ?</h2>
        <p>Un cookie est un petit fichier simple envoyé avec les pages de ce site web et stocké par votre navigateur sur le disque dur de votre ordinateur ou d’un autre appareil. Les informations qui y sont stockées peuvent être renvoyées à nos serveurs ou aux serveurs des tiers concernés lors d’une visite ultérieure.</p>
        <p>Ces cookies sont émis dans le but de faciliter la navigation sur le Site et permettent de reconnaître le navigateur des Clients lorsqu’ils sont connectés au Site. </p>
        <h2 class="text-left">4. Qu’est-ce qu’un script ?</h2>
        <p>Un script est un bout de code de programme utilisé afin de faire fonctionner notre site web correctement et de manière interactive. Ce code est exécuté sur notre serveur ou votre appareil.</p>

        <h2 class="text-left">5. Qu’est-ce qu’un pixel espion ?</h2>
        <p>Un pixel espion (ou balise web) est un petit morceau de texte ou d’image invisible sur un site web, utilisé pour suivre le trafic sur un site web. Pour ce faire, diverses données vous concernant sont stockées à l’aide de pixels espions.</p>

        <h2 class="text-left">6. Consentement</h2>
        <p>Lorsque vous visitez notre site web pour la première fois, nous vous afficherons une fenêtre contextuelle avec une explication sur les cookies. Dès que vous cliquez sur « Tous les cookies », vous consentez à notre utilisation de tous les cookies et extensions, comme décrit dans la fenêtre contextuelle et cette déclaration sur les cookies. Vous pouvez désactiver l’utilisation de cookies sur votre navigateur, mais veuillez noter que notre site web risque de ne plus fonctionner correctement. la poursuite de la navigation sur le Site valant acceptation.</p>
        <h2 class="text-left">7. Tiers</h2>
        <p>Nous avons conclu des accords sur l’utilisation de cookies avec d’autres sociétés qui placent des cookies. Nous ne pouvons cependant garantir que ces tiers gèrent vos données personnelles de manière fiable ou sécurisée. Certains, tels que Google, doivent être considérés comme des responsables du traitement des données indépendants au sens du règlement général sur la protection des données (RGPD). Nous vous recommandons de lire les déclarations de confidentialité de ces sociétés.</p>

        <h2 class="text-left">8. Cookies</h2>
        <div class="ml-5">
            <h3 class="text-left">8.1 Cookies techniques ou fonctionnels</h3>
            <p>Certains cookies assurent le fonctionnement correct de certaines parties du site web et la prise en compte de vos préférences en tant qu’utilisateur. En plaçant des cookies fonctionnels, nous vous facilitons la visite de notre site web. Ainsi, vous n’avez pas besoin de saisir à plusieurs reprises les mêmes informations lors de la visite de notre site web et, par exemple, les éléments restent dans votre panier jusqu’à votre paiement. Nous pouvons placer ces cookies sans votre consentement.</p>

            <h3 class="text-left">8.2 Cookies analytiques</h3>
            <p>Nous utilisons des cookies analytiques afin d’optimiser l’expérience des utilisateurs sur notre site web. Avec ces cookies analytiques, nous obtenons des informations sur l’utilisation de notre site web. Nous demandons votre permission pour placer des cookies analytiques.</p>

            <h3 class="text-left">8.3 Cookies publicitaires</h3>
            <p>Nous n’utilisons pas de cookies publicitaires sur ce site.</p>
            <h3 class="text-left">8.4 Boutons de réseaux sociaux</h3>
            <p>Le Site utilise des applications informatiques émanant de tiers, qui permettent au Client de partager des contenus du Site avec d'autres personnes ou de faire connaître à ces autres personnes son opinion concernant un contenu du Site (réseaux sociaux tels que Facebook, "Google+", "Twitter", etc.). Lorsque le Client consulte une page du Site contenant un bouton "Partager" ou "J'aime", son navigateur établit une connexion directe avec les serveurs du réseau social concerné. S’il est connecté au réseau social lors de sa navigation, les boutons applicatifs permettent de relier les pages consultées à son compte. S’il interagit au moyen des plug-ins, par exemple en cliquant sur le bouton « J’aime » ou en laissant un commentaire, les informations correspondantes seront transmises au réseau social concerné et publiées sur son compte. Si le Client ne souhaite pas que les réseaux sociaux relient les informations collectées par l’intermédiaire du Site à son compte, il doit se déconnecter du réseau social concerné avant de visiter le Site.</p>
            <p>Comètes n’est en aucun cas responsable à quelque titre que ce soit du contenu ou du fonctionnement de l’un quelconque des réseaux sociaux, y compris ceux qui peuvent être reliés au Site. Pour comprendre comment les sites de réseaux sociaux utilisent les informations sur les activités du Client sur notre site web et sur internet, le Client est invité à lire leurs conditions d'utilisation et leurs politiques de confidentialité respectives.</p>
            <p>Veuillez lire la déclaration de confidentialité de ces réseaux sociaux (qui peut être modifiée régulièrement) afin de savoir ce qu’ils font de vos données (personnelles) traitées en utilisant ces cookies. Les données récupérées sont anonymisées autant que possible. Facebook se trouvent aux États-Unis.</p>
        </div>

        <h2 class="text-left">9. Cookies placés</h2>
        <div class="ml-5">
            <h3 class="text-left">9.1 Google Analytics</h3>
            <p>Nous utilisons Google Analytics pour les statistiques du site web.</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Conservation</th>
                    <th>Fonction</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3"><strong>Statistiques</strong></td>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>14 Mois</td>
                    <td>Il stocke un ID utilisateur unique</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>24 heures</td>
                    <td>Il stocke et met à jour une valeur unique pour chaque page visitée.</td>
                </tr>
                <tr>
                    <td>_gat_gtag_[ID du site]</td>
                    <td>10 minutes</td>
                    <td>Il est utilisé pour limiter le débit des demandes, ce qui limite la collecte de données sur les sites à fort trafic</td>
                </tr>
                </tbody>
            </table>
            <p>Pour plus d’informations, veuillez lire la <a href="https://policies.google.com/privacy">politique de confidentialité de Google Analytics.</a></p>

            <h3 class="text-left">9.2 Stripe</h3>

            <p>Nous utilisons Stripe pour le paiement en ligne.</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Conservation</th>
                    <th>Fonction</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3"><strong>Fonctionnel</strong></td>
                </tr>
                <tr>
                    <td>__stripe_mid</td>
                    <td>1 an</td>
                    <td>Stripe utilise un cookie pour se souvenir de qui vous êtes et pour permettre à Comètes de traiter des paiements sans stocker d’informations de carte de crédit sur ses propres serveurs</td>
                </tr>
                <tr>
                    <td>__stripe_sid</td>
                    <td>aucune</td>
                    <td>Stripe utilise un cookie pour procéder au paiment sur notre site.</td>
                </tr>
                </tbody>
            </table>

            <p>Pour plus d’informations, veuillez lire la <a href="https://stripe.com/fr/privacy">politique de confidentialité de Stripe.</a></p>

            <h3 class="text-left">9.3 Cookies divers</h3>
            <p>Nous utilisons certians cookies pour que le site puisse fonctionner et améliorer votre experience</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Conservation</th>
                    <th>Fonction</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3"><strong>Absolument necessaire</strong></td>
                </tr>
                <tr>
                    <td>PHPSESSID</td>
                    <td>Jusqu'à la fin de la session de navigation</td>
                    <td>Cookie généré par des applications basées sur le langage PHP. Il s'agit d'un identificateur à usage général utilisé pour gérer les variables de session utilisateur. Il s'agit normalement d'un nombre généré de manière aléatoire, la façon dont il est utilisé peut être spécifique au site, mais un bon exemple est le maintien d'un état de connexion pour un utilisateur entre les pages.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="text-left">10. Services tiers</h2>
        <div class="ml-5">
            <h3 class="text-left">10.1 Google Font</h3>
            <p>Nous utilisons les polices Google de Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, États-Unis) sur notre site Web.</p>
            <p>Vous n'avez pas besoin de vous connecter ou d'avoir un mot de passe pour utiliser Google Fonts. De plus, aucun cookie n'est stocké dans votre navigateur.</p>
            <p>Les fichiers (CSS, polices) sont demandés via les domaines Google fonts.googleapis.com et fonts.gstatic.com. Selon Google, les demandes de CSS et de polices sont complètement distinctes de tous les autres services Google. Si vous avez un compte Google, vous n'avez pas à vous soucier de l'envoi des informations de votre compte Google à Google lors de l'utilisation des polices Google. Google enregistre l'utilisation de CSS (feuilles de style en cascade) et des polices utilisées et stocke ces données en toute sécurité. Nous vérifierons en détail à quoi ressemble exactement le stockage de données.</p>
            <div class="ml-5">
                <h4 class="text-left">10.1.1 Que sont les polices Google?</h4>
                <p>Google Fonts (anciennement Google Web Fonts) est un répertoire interactif avec plus de 800 polices que Google LLC fournit pour une utilisation gratuite.</p>
                <p>Beaucoup de ces polices sont publiées sous la licence SIL Open Font License, tandis que d'autres ont été publiées sous la licence Apache. Les deux sont des licences de logiciels libres. Ainsi, nous pouvons les utiliser librement sans payer de redevances.</p>

                <h4 class="text-left">10.1.2 Pourquoi utilisons-nous les polices Google sur notre site Web?</h4>
                <p>Avec Google Fonts, nous pouvons utiliser des polices sur notre propre site Web et nous n'avons pas à les télécharger sur notre propre serveur. Google Fonts est un élément important pour maintenir la qualité de notre site Web élevée. Toutes les polices Google sont automatiquement optimisées pour le Web, ce qui permet d'économiser le volume de données et est un grand avantage, en particulier pour l'utilisation des appareils mobiles. Lorsque vous visitez notre page, la faible taille du fichier garantit un temps de chargement rapide. De plus, les polices Google sont des polices Web sécurisées. Différents systèmes de synthèse d'images (rendu) dans différents navigateurs, systèmes d'exploitation et appareils mobiles peuvent entraîner des erreurs. De telles erreurs peuvent déformer visuellement partiellement des textes ou des sites Web entiers. Grâce au réseau de distribution de contenu rapide (CDN), il n'y a pas de problème multiplateforme avec Google Fonts. Google Fonts prend en charge tous les principaux navigateurs (Google Chrome, Mozilla Firefox, Apple Safari, Opera) et fonctionne de manière fiable sur la plupart des systèmes d'exploitation mobiles modernes, y compris Android 2.2+ et iOS 4.2+ (iPhone, iPad, iPod).</p>
                <p>Nous utilisons donc les polices Google afin de rendre l'ensemble de notre service en ligne aussi beau et cohérent que possible. Selon l'article 6, paragraphe 1, point f du RGPD, cela constitue déjà un «intérêt légitime» dans le traitement des données personnelles. Dans ce cas, «intérêt légitime» désigne les intérêts juridiques, économiques ou idéaux reconnus par le système juridique.</p>

                <h4 class="text-left">10.1.3 Quelles données Google stocke-t-il?</h4>
                <p>Lorsque vous visitez notre site Web, les polices sont rechargées via un serveur Google. Cet appel externe envoie des données aux serveurs Google. De cette façon, Google reconnaît également que vous ou votre adresse IP visitez notre site Web. L'API Google Fonts est conçue pour réduire la collecte, le stockage et l'utilisation des données de l'utilisateur final à ce qui est nécessaire pour une livraison efficace des polices. Par ailleurs, API signifie «Application Programming Interface» et sert, entre autres, de transmetteur de données dans le domaine logiciel.</p>
                <p>Google Fonts stocke en toute sécurité les requêtes CSS et les polices sur Google et est ainsi protégé. Grâce aux chiffres d'utilisation collectés, Google peut déterminer la popularité des polices. Google publie les résultats sur des pages d'analyse internes, telles que Google Analytics. En outre, Google utilise également les données de son propre robot d'indexation Web pour déterminer les sites Web qui utilisent les polices Google. Ces données sont publiées dans la base de données BigQuery de Google Fonts. BigQuery est un service Web Google destiné aux entreprises qui souhaitent déplacer et analyser de grandes quantités de données.</p>
                <p>Cependant, il convient de garder à l'esprit que toute demande de police Google transfèrera également automatiquement aux serveurs Google des informations telles que l'adresse IP, les paramètres de langue, la résolution d'écran du navigateur, la version du navigateur et le nom du navigateur. Il n'est pas clair ou n'est pas clairement communiqué par Google si ces données sont également stockées.</p>

                <h4 class="text-left">10.1.4 Combien de temps et où sont stockées les données?</h4>
                <p>Google stocke les demandes d'actifs CSS pour une journée sur ses serveurs, qui sont principalement situés en dehors de l'UE. Cela nous permet de tirer parti des polices à l'aide d'une feuille de style Google. Une feuille de style est un style qui vous permet de modifier rapidement et facilement la conception ou la police d'une page Web, par exemple.</p>
                <p>Les fichiers de polices sont stockés chez Google pendant un an. Google poursuit l'objectif d'améliorer généralement le temps de chargement des sites Web. Si des millions de pages Web font référence aux mêmes polices, elles seront mises en cache après la première visite et apparaîtront immédiatement sur toutes les autres pages Web visitées ultérieurement. Parfois, Google met à jour les fichiers de polices pour réduire la taille des fichiers, augmenter la couverture linguistique et améliorer la conception.</p>

                <h4 class="text-left">10.1.5 Comment puis-je supprimer mes données et / ou comment empêcher le stockage de mes données?</h4>
                <p>Les données que Google stocke pendant un jour ou un an ne peuvent pas simplement être supprimées. Les données sont automatiquement transmises à Google lorsque la page est consultée. Pour supprimer ces informations prématurément, vous devez contacter l'assistance Google à l'adresse https://support.google.com/?hl=en&tid=311109277. Dans ce cas, vous n'empêchez le stockage des données que si vous ne visitez pas notre site.</p>
                <p>Contrairement aux autres polices Web, Google nous permet un accès illimité à toutes les polices. Ainsi, nous pouvons accéder à des polices illimitées et tirer le meilleur parti de notre site Web. Pour en savoir plus sur les polices Google et d'autres questions, rendez-vous sur https://developers.google.com/fonts/faq?tid=311109277. Bien que Google traite des problèmes de confidentialité, il ne contient pas d'informations détaillées sur le stockage des données. Il est relativement difficile (presque impossible) d'obtenir des informations vraiment précises de Google sur les données stockées.</p>
                <p>Vous pouvez également voir quelles données Google recueille et à quoi ces données sont utilisées sur <a href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a>.</p>
            </div>
            <h3 class="text-left">10.2 Newsletter Mailchimp</h3>
            <p>Comètes propose une newsletter. Elle nous permet d'envoyer des e-mails aux personnes qui le souhaitent afin de les informer de nos actualités et évènements à venir. L'adresse e-mail est la seule donnée dont nous avons besoin pour vous faire bénéficier ce service.</p>
            <p>Vous pouvez vous inscrire à cette newsletter via le formulaire présent sur la page d'accueil ou lors de votre inscription.</p>
            <p>Vous pouvez vous désabonner à tout moment via le lien présent en bas de chaque e-mail ou en nous contactant via les coordonnées présents en bas de cette page.</p>
            <p>Nous utilisons le service tiers Mailchimp pour l'envoi de notre newsletter, vous trouverez leur politique de confidentialité ici : <a href="https://mailchimp.com/legal/privacy/">https://fr.mailjet.com/privacy-policy/</a></p>
            <h3 class="text-left">10.2 Mailing via Mailjet</h3>
            <p>Comètes utilise l'outil mailjet lors des inscriptions aux évènements afin d'en recontacter les participants et de leur fournir les informations strictements relatives à l'oganisation de l'évènement en question.</p>
            <p>Vous trouverez leur politique de confidentialité ici : <a href="https://fr.mailjet.com/privacy-policy/">https://fr.mailjet.com/privacy-policy/</a></p>
        </div>
        <h2 class="text-left">11. Activer/désactiver et supprimer les cookies</h2>
        <p>Vous pouvez utiliser votre navigateur Internet pour supprimer automatiquement ou manuellement les cookies. Vous pouvez également spécifier que certains cookies ne peuvent pas être placés. Une autre option consiste à modifier les paramètres de votre navigateur Internet afin que vous receviez un message à chaque fois qu'un cookie est placé. Pour plus d'informations sur ces options, reportez-vous aux instructions de la section Aide de votre navigateur.</p>
        <p>Veuillez noter que notre site web peut ne pas marcher correctement si tous les cookies sont désactivés. Si vous supprimez les cookies dans votre navigateur, ils seront de nouveau placés après votre consentement lorsque vous revisiterez nos sites web.</p>
    </div>

{% endblock %}
