{% extends 'base.html.twig' %}

{% block title %}Mentions légales | {{ parent() }}{% endblock %}
{% block Titre %}Mentions légales{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h2>EDITEUR</h2>
            <p>D&eacute;nomination sociale : COMETES</p>
            <p>Forme juridique : soci&eacute;t&eacute; par actions simplifi&eacute;e</p>
            <p>Capital social : 150 euros</p>
            <p>Si&egrave;ge social : 100 chemin du creux du loup – 74930 PERS-JUSSY</p>
            <p>Num&eacute;ro d&rsquo;inscription au RCS : 881 805 311 RCS THONON LES BAINS.</p>
            <p>Le directeur de la publication est Stéphanie MARTIN.</p>
            <p>Contact : <a href="{{ path('mailTo', {'name': 'hello', 'domain':'cometes.co'}) }}">hel<!--triugtb65-->lo@co<!--t5588h^ùm^th-->metes.co</a></p>
            <h2>HEBERGEUR</h2>
            <p>D&eacute;nomination sociale : Infomaniak</p>
            <p>Si&egrave;ge social : 25 Rue Eug&egrave;ne Marziano, 1227 Carouge - Suisse</p>
            <p>Contact&nbsp;: +41 22 820 35 44</p>
            <h2>LIENS HYPERTEXTES</h2>
            <p>COMETES  vous autorise, &agrave; titre non exclusif et r&eacute;vocable, &agrave; cr&eacute;er un lien hypertexte pointant sur la page d'accueil du site COMETES .co (le &laquo; Site &raquo;) ou &agrave; toute autre page du Site, &agrave; la condition que ce lien ne puisse cr&eacute;er &agrave; l'encontre des articles propos&eacute;s &agrave; la vente sur le Site, de COMETES  ou de l&rsquo;une quelconque de ses marques d&eacute;pos&eacute;es, un caract&egrave;re mensonger, faux, p&eacute;joratif, d&eacute;nigrant, contrefaisant ou pouvant porter pr&eacute;judice &agrave; COMETES .</p>
            <p>En aucun cas la cr&eacute;ation de ce lien hypertexte ne pourra engager la responsabilit&eacute; de COMETES , &agrave; quelque titre que ce soit.</p>
            <h2>PROPRIETE INTELLECTUELLE</h2>
            <p>La reproduction ou repr&eacute;sentation, int&eacute;grale ou partielle, des pages, des donn&eacute;es et de tout autre &eacute;l&eacute;ment constitutif au site septem-paris.com, par quelque proc&eacute;d&eacute; ou support que ce soit, sans autorisation pr&eacute;alable et &eacute;crite de COMETES , est interdite (&agrave; l&rsquo;exception des copies pour usage priv&eacute; et de celles r&eacute;alis&eacute;es pour les besoins de la presse) et constitue une contrefa&ccedil;on sanctionn&eacute;e par le Code de la propri&eacute;t&eacute; intellectuelle, susceptible d&rsquo;engager la responsabilit&eacute; civile et/ou p&eacute;nale de son auteur.</p>
            <p>Les marques figurant sur le pr&eacute;sent site Internet, en particulier la marque &laquo; COMETES  &raquo; sont des marques d&eacute;pos&eacute;es par COMETES . Toute reproduction totale ou partielle ou toute utilisation de ces marques sans autorisation pr&eacute;alable et &eacute;crite de son titulaire est prohib&eacute;e. &nbsp;</p>
        </div>
    </div>

</div>


{% endblock %}
