{% extends 'base.html.twig' %}

{% block title %}Conditions particulières pour les évènements | {{ parent() }}{% endblock %}
{% block Titre %}Conditions particulières pour les évènements{% endblock %}

{% block content %}
<div class="container py-5">
        <section class="row text-justify">
            <div class="col-12">
                <h2 class="text-left">
                    Art. 1 - Objet et champ d’application des conditions particulières
                </h2>
                <p>
                    Les présentes conditions régissent la vente des prestations événementielles
                    commercialisées par la société CHAMADE (Retraites, Ateliers, Cercles,
                    Rituels et Formations).
                </p>
                <p>
                    Toute inscription à l’un des évènements proposés ou tout achat de
                    prestation y figurant implique l’acceptation sans réserve par l’acheteur
                    des présentes conditions générales de Chamade SAS et des conditions
                    particulières suivantes, qui prévalent sur tout autre document.
                </p>
                <h2 class="text-left">
                    Art. 2 – Réservation d’un évènement
                </h2>
                <h3>
                    2.1 L’offre
                </h3>
                <p>
                    L’information donnée relativement aux différentes prestations proposées est
                    susceptible d’être modifiée.
                </p>
                <p>
                    Toute modification des prestations proposées qui pourrait survenir avant
                    l’inscription du client sera portée à sa connaissance par écrit, avant la
                    conclusion du contrat, qui seul, en conséquence, fera foi des prestations
                    effectivement convenues entre les parties.
                </p>
                <p>
                    Activités sportives et soins : CHAMADE attire l’attention du bénéficiaire
                    sur la nécessité de s’enquérir, avant la commande de la Prestation, de son
                    aptitude à en bénéficier en prenant toutes les précautions que son état de
                    santé impose, de sorte que la responsabilité de la société CHAMADE ne
                    saurait être engagée en cas d'incident ou d'accident.
                </p>
                <h3>
                    2.2 Réservation
                </h3>
                <p>
                    Les ventes de prestations événementielles ne sont pas soumises à
                    l’application du droit de rétractation prévu aux articles L 121-21 et
                    suivants du code de la consommation en matière de vente à distance.
                </p>
                <p>
                    Par conséquent, toute réservation d’un évènement réalisée auprès de CHAMADE
                    est définitive pour le client. L’annulation ne sera possible que dans les
                    conditions d’annulation mentionnées dans l’article 5 ci-après.
                </p>
                <p>
                    La remise des documents et informations relatives à l’évènement réservé
                    s’effectuant par courrier électronique, le client devra communiquer, lors
                    de son inscription, une adresse électronique valable et consulter
                    régulièrement sa boîte mail.
                </p>
                <p>
                    Le client doit informer CHAMADE, par écrit et préalablement à toute
                    réservation, de toute particularité le concernant et susceptible d’affecter
                    le bon déroulement de l’évènement.
                </p>
                <p>
                    L’inscription du client à l’évènement ne sera effective et n’engagera la
                    société CHAMADE qu’après la confirmation par celle-ci de la disponibilité
                    des produits réservés. Cette confirmation sera adressée au client par
                    courrier électronique.
                </p>
                <p>
                    <strong>Attention : </strong>
                </p>
                <p>
                    Les prestations proposées sont soumises à un nombre minimum de
                    participants.
                </p>
                <p>
                    Si le nombre minimum de participants est atteint au moment où l’Utilisateur
                    valide sa commande, l’inscription est définitive. Le client recevra au
                    préalable un mail de confirmation de commande, et à la suite un mail
                    confirmant l’évènement, et recevra toutes les informations nécessaires à
                    l’organisation de ce dernier.
                </p>
                <p>
                    Si le nombre minimum de participants n’est pas atteint au moment de la
                    réservation par l’Utilisateur, la demande de l’utilisateur restera en
                    option jusqu’au moment où le nombre minimal requis sera atteint.
                </p>
                <p>
                    En cas de non atteinte du nombre minimum de participants, comme en cas
                    d’indisponibilité de tout ou partie des prestations réservées, le client en
                    sera immédiatement informé et sa demande de réservation sera considérée
                    comme caduque. La somme payée par le client lui sera alors intégralement
                    remboursée sans qu’il puisse prétendre à une quelconque indemnité.
                </p>
                <h2 class="text-left">
                    Art. 3 – Le prix
                </h2>
                <p>
                    Les prix mentionnés sont indicatifs et s’entendent toutes taxes comprises,
                    lesquelles sont incluses dans le prix affiché pour leur montant connu au
                    jour de la consultation, qui pourra être différent de celui pris en compte
                    lors de la réservation. Toute modification des taxes (TVA, taxes aériennes,
                    etc.) sera également répercutée sur le prix des prestations au jour de la
                    réservation ou rétroactivement selon les dispositions légales.
                </p>
                <p>
                    Sauf mention contraire du descriptif, le prix affiché pour un évènement est
                    forfaitaire et ne comprend jamais :
                </p>
                <ul type="disc">
                    <li>
                        Le transport
                    </li>
                    <li>
                        L’hébergement,
                    </li>
                    <li>
                        La restauration,
                    </li>
                    <li>
                        Les taxes de séjour, taxe touristique, frais de visa,
                    </li>
                    <li>
                        Les extras, les taxis, les pourboires et frais de porteur,
                    </li>
                    <li>
                        Les assurances.
                    </li>
                </ul>
                <p>
                    Le prix à payer par le client sera confirmé au moment de son inscription et
                    mentionné sur le contrat.
                </p>
                <h2 class="text-left">
                    Art. 4 – Modalités de paiement
                </h2>
                <h3>
                    4.1 Paiement
                </h3>
                <p>
                    Le règlement de la prestation achetée se fait dans les conditions vues aux
                    CGV ci-dessus, mais aussi par virement bancaire sur le compte de CHAMADE
                    IBAN : FR76 1810 6000 3396 7640 2480 702
                </p>
                <p>
                    BIC : AGRIFRPP881
                </p>
                <p>
                    La totalité du montant de l’évènement est exigée lors de votre inscription.
                </p>
                <h3>
                    4.2 Défaut de paiement
                </h3>
                <p>
                    Le non-paiement du prix de l’évènement à l'échéance autorisera CHAMADE à
                    considérer l’évènement comme annulé du fait du client au jour du départ et
                    en conséquence à facturer à ce dernier l’intégralité des frais d’annulation
                    normalement dus à cette date, soit 100% des frais.
                </p>
                <h2 class="text-left">
                    Art. 5 – Modification ou annulation par le client
                </h2>
                <p>
                    Toute demande du client visant à la modification ou l’annulation de sa
                    réservation devra être adressée par mail à la société CHAMADE à l’adresse
                    suivante : hello@chamade.co.
                </p>
                <p>
                    Toute modification est soumise à l’accord de la société CHAMADE et aux
                    disponibilités existantes. En cas d’impossibilité d’apporter la
                    modification souhaitée, le contrat initial restera alors applicable.
                </p>
                <h3>
                    5.1 Frais en cas d’annulation
                </h3>
                <p>
                    Le client peut à tout moment résilier le contrat avant l’évènement. La
                    raison de l’annulation doit être impérativement donnée à CHAMADE. Il est
                    recommandé au client de notifier cette annulation par écrit. Si le client
                    résilie le contrat ou s’il ne participe pas à l’évènement, CHAMADE pourra
                    exiger un dédommagement pour les démarches entreprises et pour les frais
                    engagés.
                </p>
                <p>
                    <strong>
                        Frais d'annulation pour les évènements en % du montant total de
                        l’évènement :
                    </strong>
                </p>
                <ul type="disc">
                    <li>
                        à plus de 60 jours de l’évènement : 10% + frais de dossier
                    </li>
                    <li>
                        entre 60 jours et 46 jours avant la date de l’évènement: 30% + frais de
                        dossier
                    </li>
                    <li>
                        entre 45 jours et 30 jours avant la date de l’évènement: 50% + frais de
                        dossier
                    </li>
                    <li>
                        moins de 30 jours avant la de l’évènement ou non-présentation : 100% +
                        frais de dossier
                    </li>
                </ul>
                <h3>
                    5.2 Cession de contrat
                </h3>
                <p>
                    Le contrat étant conclu intuitu personae, il ne peut être cédé.
                </p>
                <h3>
                    5.3 Interruption de l’évènement par le client
                </h3>
                <p>
                    Tout évènement, interrompu ou abrégé ou toute prestation non-consommée
                    quelle que soit la cause, hors le cas de la force majeure tel que défini à
                    l’article 8 ci-après ou le fait de CHAMADE ou d’un de ses prestataires, ne
                    donnera lieu à aucun remboursement.
                </p>
                <p>
                    Si CHAMADE doit annuler un évènement pour quelque motif que ce soit, les
                    personnes déjà inscrites seront intégralement remboursées, sans pouvoir
                    prétendre à aucune indemnité. Si un nombre insuffisant de participants est
                    inscrit sur un départ, CHAMADE peut annuler l’évènement au plus tard 15
                    jours avant le départ.
                </p>
                <p>
                    En cas d’annulation, CHAMADE remboursera au client toutes les sommes
                    versées par celui-ci lors de sa réservation à l’exclusion de toutes autres.
                    Tous les frais engagés préalablement par le client, tels que frais de
                    logement, visas, frais de transport, de pré et post acheminement (achats de
                    titres de transport aérien ferroviaire, maritime ou autres), frais de
                    vaccination, etc., ne pourront donner lieu à un quelconque remboursement ou
                    à indemnisation.
                </p>
                <h2 class="text-left">
                    Art.6 – Formalités
                </h2>
                <p>
                    Il est de la seule responsabilité du client de vérifier que les différents
                    documents nécessaires à sa participation à l’évènement sont en cours de
                    validité.
                </p>
                <h2 class="text-left">
                    Art.7 – Cas de force majeure
                </h2>
                <p>
                    En cas de force majeure rendant impossible l’exécution de la prestation,
                    CHAMADE préviendra le client par tous moyens, notamment par téléphone et
                    courrier électronique. Le contrat sera alors suspendu de plein droit sans
                    indemnité, à compter de la date de survenance de l'événement.
                </p>
                <p>
                    <br/>
                    Si l’évènement ne pouvait pas être effectué ou continué, le contrat serait
                    résolu et le participant ne pourrait alors prétendre à un quelconque
                    dédommagement. CHAMADE reversera cependant toute somme non-dépensée et
                    qu’elle détiendrait encore, ou dont elle aurait obtenu le remboursement au
                    nom et pour le compte du client.
                </p>
                <h2 class="text-left">
                    Art.8 – Assurances
                </h2>
                <p>
                    Aucune assurance ou assistance n’est incluse avec les évènements vendus.
                </p>
                <h2 class="text-left">
                    Art.9 - Réclamations
                </h2>
                <p>
                    Toute réclamation concernant les conditions d’évènements doit être faite
                    sans délai, sur place et par écrit, auprès des réceptifs responsables de
                    l’évènement et auprès de CHAMADE à l’adresse hello@chamade.co pour
                    traitement immédiat.
                </p>
                <p>
                    Après avoir interrogé la société CHAMADE et à défaut de réponse
                    satisfaisante dans un délai de 60 jours, le client pourra entrer en contact
                    avec la plateforme de résolution des litiges mise en ligne par la
                    Commission Européenne à l'adresse suivante :
                    <a href="http://ec.europa.eu/consumers/odr/">
                        http://ec.europa.eu/consumers/odr/
                    </a>
                    .
                </p>
                <p>
                    Article 10 : Dispositions complémentaires
                </p>
                <h3>
                    10.1 Responsabilités :
                </h3>
                <p>
                    La SAS Chamade et ses intervenants déclinent toute responsabilité pour les
                    éventuels vols ou dommages causés aux biens des participantes.
                </p>
                <p>
                    La SAS Chamade et ses intervenantes déclinent toute responsabilité pour les
                    éventuels dommages corporels et matériels causés par les participantes.
                </p>
                <ul type="disc">
                    <li>
                        <strong>Déclarations sur l’honneur :</strong>
                    </li>
                </ul>
                <p>
                    <strong>En réservant un évènement, je déclare :</strong>
                </p>
                <ul type="disc">
                    <li>
                        Être apte à participer à l’évènement, tant sur le plan de ma santé
                        mentale que physique.
                    </li>
                    <li>
                        Ne pas être au bénéfice de traitements médicaux incompatibles avec ma
                        participation à l’évènement.
                    </li>
                    <li>
                        Participer volontairement et sous ma propre responsabilité à
                        l’évènement.
                    </li>
                    <li>
                        Je reconnais que les évènement de Chamade ne sont pas organisés à des
                        fins médicales et que les animateurs ne sont ni des médecins ni des
                        praticiens de la santé physique et mentale.
                    </li>
                    <li>
                        Être au bénéfice d’une assurance responsabilité civile en cours de
                        validité.
                    </li>
                </ul>
                <p>
                    <strong>En réservant un évènement, je m’engage à :</strong>
                </p>
                <ul type="disc">
                    <li>
                        Participer à l’évènement dans un état d’esprit de bienveillance, d’ouverture et de tolérance.
                    </li>
                    <li>
                        Suivre les directives et instructions qui me seront communiquées lors de l’évènement.
                    </li>
                    <li>
                        Participer au programme proposé dans le respect de mes propres limites.
                    </li>
                    <li>
                        Indiquer aux organisateurs et animateurs, toute difficulté susceptible de compromettre ma santé, celle des autres ou le bon déroulement de l’évènement.
                    </li>
                    <li>
                        Respecter la confidentialité de l’évènement et reconnaître que toute information concernant l'identité, la vie privée et le comportement de toutes les personnes présentes à l’évènement est strictement confidentielle et je m'engage à ne divulguer aucune information de cette nature à quelque fin que ce soit, que ce soit pendant ou après ma participation à cet évènement.
                    </li>
                    <li>
                        J’accepte que la SAS CHAMADE et ses intervenantes se réservent le droit de me demander de quitter l’évènement si mon comportement est inapproprié ou contraire à l'éthique de l’évènement. Dans ce cas, le tarif de l’évènement ne me sera pas remboursé.
                    </li>
                </ul>

            </div>

        </section>
</div>


{% endblock %}