{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Modifier une catégorie</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item active"><a href="{{ path('linksAdmin') }}">Liens</a></li>
        <li class="breadcrumb-item active">Ajouter un lien</li>
    </ol>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
