$vert:#34403e;
$vert_clair:#e1ebd3;


$blanc:#f2e6d6;
$rose:#bf674b;
$orange:#e88846;
$rouge:#a3491f;
$noir: #000000;
$beige:#e0c4a7;

$break-s: 576px;
$break-sm: 768px;
$break-m: 992px;
$break-l: 1200px;
