{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Modifier un membre</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('teamAdmin') }}">Équipe</a></li>
        <li class="breadcrumb-item active">Modifier un membre</li>
    </ol>
    {% include 'admin/team/_form.html.twig' %}
{% endblock %}
