{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Créer un nouveau contenu</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('onlineAdmin') }}">Magie en ligne</a></li>
        <li class="breadcrumb-item active">Créer un nouveau contenu</li>
    </ol>
    {% include 'admin/online/_form.html.twig' %}
{% endblock %}