<section>
    <div class="row flex-column-reverse flex-lg-row align-items-center">
        <div class="letter col-md-6 col-xl-6 col-lg-7 w-75 m-auto w-md-100">
            <h2>Élévation</h2>
            <p>« Au-dessus des étangs, au-dessus des vallées,<br/>
                Des montagnes, des bois, des nuages, des mers,<br/>
                Par-delà le soleil, par-delà les éthers,<br/>
                Par-delà les confins des sphères étoilées,</p>

            <p> Mon esprit, tu te meus avec agilité,<br/>
                Et, comme un bon nageur qui se pâme dans l'onde,<br/>
                Tu sillonnes gayement l'immensité profonde<br/>
                Avec une indicible et mâle volupté.</p>

            <p>Envole-toi bien loin de ces miasmes morbides ;<br/>
                Va te purifier dans l'air supérieur,<br/>
                Et bois, comme une pure et divine liqueur,<br/>
                Le feu clair qui remplit les espaces limpides.</p>

            <p>Derrière les ennuis et les vastes chagrins<br/>
                Qui chargent de leur poids l'existence brumeuse,<br/>
                Heureux celui qui peut d'une aile vigoureuse<br/>
                S'élancer vers les champs lumineux et sereins ;</p>

            <p>Celui dont les pensers, comme des alouettes,<br/>
                Vers les cieux le matin prennent un libre essor,<br/>
                - Qui plane sur la vie, et comprend sans effort<br/>
                Le langage des fleurs et des choses muettes ! »</p>

            <p> - Charles Baudelaire, <em>Les Fleurs du Mal</em></p>
        </div>
        <div class="mb-3 col-10 col-md-6 col-xl-4 col-lg-4 text-center">
            <img class="mw-100" src="{{ asset('build/images/herbe-feu-main.jpeg') }}" alt="Salomé tenant dans ses main des herbes qui se consument">
        </div>
    </div>
</section>