{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <h1>La page demandée n'existe pas...</h1>
        </div>
    </div>
{% endblock %}