{% extends 'base.html.twig' %}

{% block title %}Lecture de carte du ciel | {{ parent() }}{% endblock %}
{% block metaDescription %}Comètes propose la lecture de votre carte du ciel, comme un outil de compréhension de votre incarnation et de votre mission de vie.{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_astrologie.jpeg') }}{% endblock %}

{% block Titre %}Lecture de carte du ciel{% endblock %}
{% block content %}
        <div class="container ritual text-justify">
            <section class="row mt-4 align-items-center mb-3" >
                <div class="col-12">
                    <p>L’astrologie holistique est un outil précieux dès lors que l’on cherche à accéder à une meilleure compréhension des énergies qui nous composent, mais aussi pour retrouver le sens de notre chemin d’âme.</p>
                    <p>Notre approche se trouve à la croisée des chemins entre l’astrologie humaniste, archétypale et karmique.</p>
                    <p>C’est une lecture des potentiels, qui conçoit l’individu dans sa globalité et dans son processus illimité de croissance. C’est ainsi une approche non-fataliste et non prédictive de nos cheminements humains.</p>
                    <p>Mue par une bienveillance profonde et sincère, chacune de nos lectures comprend les conseils holistiques destinés à vous permettre d’harmoniser au mieux les forces qui vous composent et à aimer inconditionnellement chaque facette de votre Être.</p>

                    <!-- Début de widget en ligne Calendly -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/lesateliersdelalune/lecture-de-carte-du-stephanie" style="min-width:320px;height:700px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    <!-- Fin de widget en ligne Calendly -->
                    <!-- Début de widget en ligne Calendly -->
                    <div class="calendly-inline-widget" data-url={{ "https://calendly.com/cometesastrologie/lecture-de-carte-du-salome?a2="~app.session.get('affiliate')}} style="min-width:320px;height:700px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    <!-- Fin de widget en ligne Calendly -->
                </div>
            </section>
        </div>
    {% if opinions.getOpinions('lecture') %}
        {% include 'events/_opinions.html.twig' with {'type': 'lecture'} %}
    {% endif %}
{% endblock %}
