{% extends 'base.html.twig' %}

{% block title %}Lecture de carte du ciel | {{ parent() }}{% endblock %}
{% block metaDescription %}Comètes propose la lecture de votre carte du ciel, comme un outil de compréhension de votre incarnation et de votre mission de vie.{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_astrologie.jpeg') }}{% endblock %}

{% block Titre %}Lecture de carte du ciel{% endblock %}
{% block content %}
        <div class="container ritual text-justify  mb-5">
            <section class="row mt-4 align-items-center mb-3" >
                <div class="col-12">
                    <p>L’astrologie holistique est un outil précieux dès lors que l’on cherche à accéder à une meilleure compréhension des énergies qui nous composent, mais aussi pour retrouver le sens de notre chemin d’âme.</p>
                    <p>Notre approche se trouve à la croisée des chemins entre l’astrologie humaniste, archétypale et karmique.</p>
                    <p>C’est une lecture des potentiels, qui conçoit l’individu dans sa globalité et dans son processus illimité de croissance. C’est ainsi une approche non-fataliste et non prédictive de nos cheminements humains.</p>
                    <p>Mue par une bienveillance profonde et sincère, chacune de nos lectures comprend les conseils holistiques destinés à vous permettre d’harmoniser au mieux les forces qui vous composent et à aimer inconditionnellement chaque facette de votre Être.</p>

                    <p>Les lectures seront prochainement disponibles, n’hésite pas à t’inscrire à notre infolettre pour être informé.e en avant-première !</p>
                </div>
            </section>
        </div>
    {% include 'index/_social.html.twig' %}


{% endblock %}
